<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
</head>
<body>
    <form action="/user/register" method="post">
        <input type="text" placeholder="Name" name="name">
        <input type="number" placeholder="Age" name="age">
        <input type="text" placeholder="Gender" name="gender">
        <input type="tel" placeholder="Mobile" name="phone">
        <input type="email" placeholder="Email" name="email" >
        <input type="submit" name="submit" value="Add Member">
    </form>
</body>
</html>